<div class="six columns push-three">

  <div class="row">

    <?php foreach ( $zodiacs as $zodiac => $value) { ?>

    <div class="two columns mobile-one">
      <img src="images/zodiacs/<?php echo strtolower($zodiac); ?>.png" style="position: relative; top: 32px;" />
    </div>

    <div class="ten columns">
      
      <h4 id="<?php echo strtolower($zodiac); ?>"><strong><?php echo $zodiac ?></strong></h4>
      <ul>
        <li>
          <strong>Season:</strong> <?php echo $value["season"] ?>
        </li>
        <li>
          <strong>Element:</strong> <?php echo $value["element"] ?>
        </li>
      </ul>

    </div>

    <hr>

    <?php } ?>

  </div>

</div>