<div class="three columns pull-six">
  <div class="panel">
    <a href="#"><img src="images/zodiac.png" /></a>
    <h5><a href="#">All Zodiacs</a></h5>
    
    <dl class="vertical tabs">
      <dd><a href="#">Rat</a></dd>
      <dd><a href="#">Ox</a></dd>
      <dd><a href="#">Tiger</a></dd>
      <dd><a href="#">Rabbit</a></dd>
      <dd><a href="#">Dragon</a></dd>
      <dd><a href="#">Snake</a></dd>
      <dd><a href="#">Horse</a></dd>
      <dd><a href="#">Goat</a></dd>
      <dd><a href="#">Monkey</a></dd>
      <dd><a href="#">Rooster</a></dd>
      <dd><a href="#">Dog</a></dd>
      <dd><a href="#">Pig</a></dd>
    </dl>
    
  </div>
</div>